@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';

svg { vertical-align: baseline; }

@font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
}

.ant-drawer-body {
    padding: 0;
    background-color: transparent;
}

.ant-switch.ant-switch-checked {
    background-color: rgb(37, 99, 235);
}

.ant-switch {
    background-color: rgb(210, 210, 210);
}